.product{
    display: flex;
    border: 1px solid rgb(185, 196, 206);
    margin-right: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.purchase-button{
    background-color: goldenrod;
    width: 150px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}
.icon-color{
   color: goldenrod; 
}